.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  /* padding: 10px; */
}

.outerContainer {
  margin-top: 150px;
  border-radius: 1rem;
  padding: 10px;
}

.btn {
  margin-top: 0.8rem;
  background-color: wheat;
  margin-left: 10px;
  border-radius: 25px !important;
}

h1 {
  color: wheat !important;
}
body {
  background-image: url(./images/pexels-rahul-716398.jpg);
  background-size: cover;
}

label {
  color: wheat;
}
input,
select,
::placeholder {
  color: black;
  background-color: wheat;
  border: none;
  border-radius: 25px;
  padding: 10px;
}

.output {
  color: wheat;
}
input:focus {
  outline: none;
}


@media only screen and (min-width: 960px) {
  .outerContainer {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    margin-top: 220px;
  }
  body {
    background-image: url(./images/pexels-emmet-712490.jpg);
    background-size: cover;
  }
}
